@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Ubuntu');
/*import fonts like this: font-family: 'Ubuntu', sans-serif; font-family: 'Fredoka One', cursive; */

.banner {
    height: 4em;
    width: 100%;
    margin-top: -5em;
    margin-left: -5em;
    margin: auto;
    background-color: #03256C;
    border: .2em;
    overflow: auto;


}

body {
    padding: .5em;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Fredoka One', cursive;
    
}

.heading {
    
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
    align-content: center;
    
}

.title { 

}

.fixedBox {

}
.sinkingBox {

}
.name {

}
.planned {

}
.actual {

}
.last {

}
.createNew {

}
.totalPlanned {

}
.totalActual {

}
.totalTotal {

}
.nav {
display: flex;
flex-flow: row;
position: absolute;
}