@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Ubuntu');
/*import fonts like this: font-family: 'Ubuntu', sans-serif; font-family: 'Fredoka One', cursive; */

.banner {
    height: 5rem;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #03256C;
    overflow: auto;
    margin-bottom: -.5em;
    text-align: center;
    color: white;
    font-size: 2rem;
    
}
.banner h1 {
    margin-top: 1rem;
    letter-spacing: .7rem;
    
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Fredoka One', cursive;
    margin: 0 auto;
    max-width: 100vw;  
    height: 100vw; 
}

.heading {
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
    text-align: center;
}


.fixedBox {
    margin: 0 auto;
    border: black solid 4px;
    border-radius: 17px;
    height: 5em;
    width: 90%;
    display: flex;
    margin-bottom: 2em;
}

.f-name {
    background-color: red;
    height: 5em;
    width: 35%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}
.f-planned {
    background-color: yellow;
    height: 5em;
    width: 35%;
    text-align: center;
}
.f-actual {
    background-color: skyblue;
    height: 5em;
    width: 35%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.totalBox {
    margin: 0 auto;
    border: black solid 4px;
    border-radius: 17px;
    height: 5em;
    width: 90%;
    display: flex;
    margin-bottom: 2em;
}

.t-name {
    background-color: orange;
    height: 5em;
    width: 35%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}
.t-planned {
    background-color: green;
    height: 5em;
    width: 35%;
    text-align: center;
}
/* .t-planned::before {
    content: "$";
    font-size:2em;
    position: absolute;
    margin-top: .74em;
    margin-left: -1.5em;
} */
.t-actual {
    background-color:purple;
    height: 5em;
    width: 35%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}
/* .t-actual::before {
    content: "$";
    font-size:2em;
    position: absolute;
    margin-top: .74em;
    margin-left: -1.5em;
} */


.nav {
    display: flex;
    overflow: hidden;
    background-color: rgb(230,230,230);
    position: fixed;
    bottom: 0;
    width: 100%;    
    justify-content: space-around;
    border-top: solid black 1.5px;
}
 .nav h4{
    display: flex;
    color: black;
    /* padding: 14px 16px; this was for the first nav */
    text-decoration: none;
    font-size: 20px;  
} 
.nav.active {
    background-color: black;
}

#flex-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#plan-main {
    margin-top: 2em;
}
.p-box {
    margin-top: -15px;
    font-size: 2em;
}
h3 {
    margin-top: -2px;
}
/* #newExpense {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5rem;
    font-size: 3rem;
    width: 5em;
    height: 5em;
    background-color: skyblue;
    text-align: center;
    border-radius: 50px;
    border: solid black 1.5px;
    margin-top: .5em;
}
#newItem {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5rem;
    font-size: 3rem;
    width: 5em;
    height: 5em;
    background-color: salmon;
    text-align: center;
    border-radius: 50px;
    border: solid black 1.5px; */
/* NONE OF THESE ARE USED ANYMORE
.sinkingBox {
    margin: 0 auto;
    border: black solid 4px;
    border-radius: 15px;
    height: 5em;
    width: 90%;
    display: flex;
}
.sinkingBox {
    margin: 0 auto;
    border: black solid 4px;
    border-radius: 15px;
    height: 5em;
    width: 90%;
    display: flex;
    margin-bottom: 2em;
}
.s-name {
    background-color: red;
    height: 5em;
    width: 25%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.s-planned {
    background-color: yellow;
    height: 5em;
    width: 25%;
}
.s-actual {
    background-color: blue;
    height: 5em;
    width: 25%;
}
 .s-total {
    background-color: orange;
    height: 5em;
    width: 25%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }
 
.last {
    display: flex;
    justify-content: row;
}
.createNew {
    margin-top: -1rem;
    border: black solid 4px;
    border-radius: 15px;
    height: 4rem;
    width: 6rem;
    margin-left: 1rem;
    text-align: center;
    padding: 1rem 0 0 0;
    font-size: 100px;
    text-align: center;
}
.createNew p {
    margin-top: -3rem;
}
#f-total-box {
    display: flex;
    border: black solid 4px;
    height: 5rem;
    width: 2em;
    float: left;
    border-radius: 15px;
}
.f-totalPlanned {
    background-color: aquamarine;
    width: 7rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.f-totalActual {
    background-color: blueviolet;
    width: 7rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.totalTotal {

}
*/